[client]
default-character-set=utf8mb4
#[mysql]
#default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4

[mysqld]
#character_set_client=utf8mb4
character-set-server=utf8mb4
collation-server=utf8mb4_bin
lower_case_table_names=1
general-log=1
general-log-file=/var/log/mysql/mysqld.log

# Enable access from the host machine.
bind-address=0.0.0.0

